
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #333;
    color: aliceblue;/
}

h1 {
    text-align: center;
    margin-bottom: 20px; 
}

.gallery {
    display: grid;
    /* Divide o espaço em 4 colunas de tamanho igual (1 fração de espaço) */
    grid-template-columns: repeat(4, 1fr);
    /* Define o espaçamento entre as células da grade (linhas e colunas) */
    gap: 10px; 
    width: 100%;
    margin: 0 auto; /* Centraliza a galeria na página */

}

.gallery img {
    width: 100%; 
    /* Garante que a imagem cubra a área sem distorcer, cortando se necessário */

}

.banner {
    background-color: #000000;
    width: 100%;
    display:flex;                              
    align-items: center;                      
    justify-content:center;  
    color: white;    
    height: 170px;    
    font-size: xx-large;    
    padding-top: 30px;      
    }

    header{
        background-color: #222;
    }
/* --- RESPONSIVIDADE --- */

/* Tablets (até 900px): 3 imagens por linha */
@media (max-width: 900px) {
    .gallery img {
        width: calc(33.33% - 10px);
    }
}

/* Celulares grandes (até 600px): 2 imagens por linha */
@media (max-width: 600px) {
    .gallery img {
        width: calc(50% - 10px);
    }
}

/* Celulares pequenos (até 400px): 1 imagem por linha */
@media (max-width: 400px) {
    .gallery img {
        width: 100%;
    }
}